@charset "utf-8";
/* CSS Document */


body {
	font-family:Dancing Script;
	background-color: #02010a;
}

#contenido {
	margin: 0 auto;
	min-width:400px;
}

@media (max-width: 900px){ /*movil*/
	#contenido {
	width: 100%;
	}
	.imagen-secundaria {
	flex-direction:column;
	}
	footer{
	flex-direction:column;
	}
	header {
	text-align:center;
	float:inherit; 
	}
	header h1 {
	text-align:center;
	}
	header nav  {
	margin: 0 auto;
    width: 100%;
    text-align: center;
	}
	header nav ul {
	margin: 0;
	padding: 0;
	display: inline-block;
	}
	.galeria img {
	width: 90%;
	margin: 1%;
	}
}

@media (min-width: 900px){ /*desktop*/
	#contenido {
	width: 900px;
	}
	.imagen-secundaria {
	flex-direction:row;
	}
	footer{
	flex-direction:row;
	}
	header {
	height:70px;
	}
	header h1 {
	text-align:left;
	float:left; 
	}
	header nav ul {
	float:right;
	}
	.galeria img {
	width: 30%;
	margin: 1%;
	}
}

header {
	background-color: #5b7989;
	color:#fff;
	border-radius: 10px 10px 0px 0px;
	width: 100%;
	animation: header 1s;
}

header h1 {
	text-shadow: 2px 2px #02010a;
	padding-top:2%;
	padding-left: 20px;
	margin: 0px;
}

header nav ul {
	list-style: none;
	background-color: #5b7989;
	margin-top: 2%;
	margin-bottom: 0px;
}

header nav ul li {
	padding: 10px;
	float:left;
}

header nav ul li a{
	font-size: 20px;
	vertical-align:middle;
	color:#fff;
}

.imagen-central {
	background-color: #82c3a6;
	width: 100%;
	vertical-align:middle;
	text-align:center;
}

img {
	box-shadow: 2px 2px 5px #02010a;
	-webkit-box-shadow: 2px 2px 5px #02010a;
    -moz-box-shadow: 2px 2px 5px #02010a;
}
#molino{
	width: 70%;
	margin: 2%;
}

.galeria {
	background-color: #d5c75f;
	border: 1px;
	width: 100%;
	text-align:center;
	margin: 0 auto;
	display:block;
}

.imagen-secundaria {
	background-color: #d5c75f;
	border: 1px;
	width: 100%;
	vertical-align:middle;
	display: flex;
	text-align:center;
	margin: 0 auto;
}

#paisaje img {
	width: 70%;
	margin: 2%;
	transition-property: box-shadow border;
	transition-duration: 0.5s;
}

#paisaje img:hover {
	transform:rotate(10deg);
	box-shadow:2px 2px 5px #82c3a6;
	border: solid 2px black;
}

#retrato img {
	width: 70%;
	margin: 2%;
	transition-property: box-shadow border;
	transition-duration: 0.5s;
}

#retrato img:hover {
	transform: translate(20px,-5px);
	box-shadow:2px 2px 5px #82c3a6;
	border: solid 2px black;
}

.imagen-secundaria a {
	color: #000000;
}

footer {
	background-color:#C6d5c5;
	border-radius: 0px 0px 10px 10px;
	display: flex;
	width:100%;
}

footer div{
	padding:5px;
}

footer div a{
	color:#000000; 
	text-decoration: none;
}

footer p {
	font-size:16px;
	font-weight:bold;
	margin-left:10px;
}

@-webkit-keyframes header {
	0% {
		margin-top: 150%;
	}
	60% {
		margin-top: -5%;
	}
	100% {
		margin-top: 0%;
	}
}

#imagen1 {
-webkit-filter: blur(10px);
filter: blur(10px);
}

#imagen2 {
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
}

#imagen3 {
-webkit-filter: sepia(90%);
filter: sepia(90%);
}

#imagen4 {
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
}

#imagen6 {
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
}

	